<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../template.css" rel="stylesheet" >
</head>
<body class="fullWidth positionRelative">
    <page class="flexContainer flexWrap alignFlexItems fullWidth justifyContentCenter flexContainerBorder ">
        <section class="flexContainer  halfWidth colFlexDirection ">
            <section id="header">
                <section class="leftSide">
                    <img src="" alt="Radisson Logo" />
                </section>
                <section class="rightSide">
                    <div>Radisson Blu Monthly Report</div>
                    <div>December 2018</div>
                </section>
            </section>
            <section id="Electricity">Electric Report </section>
            <section id="gas">Gas Report</section>
            <section id="water">Water report</section>
            <section id="footer"></section>
        </section>
    </page>
</body>
</html>
